{% extends 'base.html.twig' %}

{% block title %}
    Certification: {{ parent() }}
{% endblock %}

{% block outerbody %}

    {{ include('certification/nav.html.twig') }}

    {% if form_default_validation is defined %}
        {{ form_start(form_default_validation) }}
        {{ form_widget(form_default_validation) }}
        {{ form_end(form_default_validation) }}
    {% endif %}

    {% if form_php_object_validation is defined %}
        <h1>PHP Object Validation</h1>
        {{ form_start(form_php_object_validation) }}
        {{ form_widget(form_php_object_validation) }}
        {{ form_end(form_php_object_validation) }}
    {% endif %}

    {% if form_custom_constraint is defined %}
        <h1>Custom Constraint</h1>
        {{ form_start(form_custom_constraint) }}
        {{ form_widget(form_custom_constraint) }}
        {{ form_end(form_custom_constraint) }}
    {% endif %}

    {% if form_custom_constraint_and_group is defined %}
        <h1>Custom Constraint and group</h1>
        {{ form_start(form_custom_constraint_and_group) }}
        {{ form_widget(form_custom_constraint_and_group) }}
        {{ form_end(form_custom_constraint_and_group) }}
    {% endif %}

    {% if form_custom_constraint_and_group_and_sequence is defined %}
        <p>
            As you have already seen in the previous section, the Default group and the group containing the class name
            (e.g. User) were identical. However, when using Group Sequences, they are no longer identical. The Default
            group will now reference the group sequence, instead of all constraints that do not belong to any group.
            <br>
            This means that you have to use the {ClassName} (e.g. User) group when specifying a group sequence. When
            using Default, you get an infinite recursion (as the Default group references the group sequence, which will
            contain the Default group which references the same group sequence, ...).
            <a href="https://symfony.com/doc/current/validation/sequence_provider.html">source</a>
        </p>
        <h1>Custom Constraint and group sequence</h1>
        {{ form_start(form_custom_constraint_and_group_and_sequence) }}
        {{ form_widget(form_custom_constraint_and_group_and_sequence) }}
        {{ form_end(form_custom_constraint_and_group_and_sequence) }}
    {% endif %}

    {% if serialized_json is defined and serialized_json %}
        <pre>{{ serialized_json }}</pre>
        <br>
        <pre>{{ serialized_xml }}</pre>
    {% endif %}

    {% if process_output is defined %}
        <pre>{{ process_output }}</pre>
    {% endif %}

    <br>
    <br>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}<br>
                {{ "now"|date("H:i:s") }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}