{% extends 'base.html.twig' %}

{% block outerbody %}
    <p>
        <a href="{{ path('homepage') }}">Home</a>
    </p>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}<br>
                {{ "now"|date("H:i:s") }}
            </div>
        {% endfor %}
    {% endfor %}

    <ul>
        <li><a href="{{ path('certification_dispatcher') }}">Event Dispatcher</a></li>
        <li><a href="{{ path('certification_service_parameter_injection') }}">Service Parameter Injection</a></li>
        <li><a href="{{ path('certification_service_manuel_wiring') }}">Manuel Wiring</a></li>
        <li><a href="{{ path('certification_service_manuel_configuration') }}">Manuel Configuration</a></li>
    </ul>
{% endblock %}