<p>
    <a href="{{ path('homepage') }}">Home</a>
</p>
<ul>
    <li><a href="{{ path('certification_exception') }}">Strunz Exception</a></li>
    <li><a href="{{ path('certification_dispatcher') }}">Event Dispatcher</a></li>
    <li><a href="{{ path('certification_service_parameter_injection') }}">Service Parameter Injection</a></li>
    <li><a href="{{ path('certification_service_manuel_wiring') }}">Manuel Wiring</a></li>
    <li><a href="{{ path('certification_service_manuel_configuration') }}">Manuel Configuration</a></li>
    <li><a href="{{ path('certification_basic_validation') }}">Basic validation</a></li>
    <li><a href="{{ path('certification_php_object_validation') }}">PHP object validation</a></li>
    <li><a href="{{ path('certification_custom_constraint') }}">Custom constraint</a></li>
    <li><a href="{{ path('certification_custom_constraint_and_group') }}">Custom constraint and group validation</a></li>
    <li><a href="{{ path('certification_custom_constraint_and_group_and_sequence') }}">Custom constraint and group validation and group sequence</a></li>
    <li><a href="{{ path('certification_serializer') }}">Serializer</a></li>
    <li><a href="{{ path('certification_process') }}">Process</a></li>
    <li><a href="{{ path('certification_data_collector') }}">Data Collector</a></li>
    <li><a href="{{ path('certification_twig') }}">Twig</a></li>
    <li><a href="{{ path('certification_expiration_cache') }}">Expiration Cache</a></li>
    <li><a href="{{ path('certification_controller_default') }}">Controller default</a></li>
    <li><a href="{{ path('certification_controller_redirect_to_route') }}">Controller redirect to route</a></li>
    <li><a href="{{ path('certification_controller_redirect_externally') }}">Controller redirect externally</a></li>
    <li><a href="{{ path('certification_controller_404') }}">Controller 404</a></li>
    <li><a href="{{ path('certification_controller_cookie') }}">Controller Cookie</a></li>
</ul>