{% extends 'base.html.twig' %}

{% block body %}
    <p><a href="{{ path('blog_index') }}">List</a> </p>


    {{ form_start(form) }}
{{ form_widget(form) }}
    <button type="submit" >
      Save
    </button>
{{ form_end(form) }}

    <form action="{{ url('blog_delete', { id: bp.id}) }}">
        <button type="submit">
            delete
        </button>
    </form>
{% endblock %}