{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'blog.post_headline'|trans }}</h1>
    {% for bp in bps %}
        <ul>
            <li><a href="{{ path('blog_show', {slug: bp.slug}) }}">{{ bp.title }}</a></li>
            <li>{{ bp.content | slice(1,200) }} ...</li>
            <li>{{ bp.publicationdate | date("M d, Y, H:m:s") }}</li>
            <li>
                <ul>
                    {% for tag in bp.tags %}
                        <li>{{tag.label}}</li>
                        {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}

    {% if bps.haveToPaginate %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="navigation text-center">
            {{ pagerfanta(bps, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated'}) }}
        </div>
    {% endif %}

{% endblock %}