{% extends 'base.html.twig' %}

{% block body %}

<p><a href="{{ path('blog_index') }}">List</a> </p>
<h1>{{ post.title }}</h1>
<p>{{ post.publicationdate | date("M d, Y, H:m:s") }}</p>
<p>{{ post.content }}</p>

<ul>
    {% for tag in post.tags %}
    <li>{{ tag.label }}</li>
    {% endfor %}
</ul>

<h4>comments:</h4>

    {% for comment in post.comments %}
        <ul>
            <li> {{ comment.author.getUsername }}: {{ comment.content }} </li>
        </ul>

    {% endfor %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ render(controller('AppBundle:Blog:commentForm', {'id': post.id})) }}

    {% endif %}

<a href="{{ path('blog_edit', {id: post.id}) }}">Edit</a>

{% endblock %}